html {
  scroll-snap-type: y mandatory;
  }

.featured-section{
    scroll-snap-align: center;
  }

  .homepage-intro{
    scroll-snap-align: center;
    scroll-margin-top: 32px;
  }

  .image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }

  .imageContainer{
    position: relative;
  }